<html>
<head>
    <title>Kaside - Bookmarking</title>

    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $(".newBookmarkForm").hide();

            $(".addBookmark").on("click", function(){
                if ($(".newBookmarkForm:visible").length){
                    $(".newBookmarkForm").hide();
                } else {
                    $(".newBookmarkForm").show();
                }
            });

        });

    </script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container sw">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kaside v1.0</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bookmarks <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container sw theme-showcase">

    <div class="page-header rmv-mrg row">
        <div class="col-md-9">
            <h4>Import My Bookmarks</h4>
        </div>
    </div>

    @helper.form(action = routes.Files.completeUpload, 'enctype -> "multipart/form-data") {

    <input type="file" name="exported_file">

    <p>
        <input type="submit">
    </p>

    }

</div>


</body>
</html>